#version=RHEL8
# Use graphical install
# Défini l'affichage d'Anonconda
graphical

# Défini le dépôt utilisé par le gestionnaire de paquet pour installer le systéme.
# Dans notre cas non allons utilisé le dépôt intégré à l'ISO
repo --name="Minimal" --baseurl=file:///run/install/sources/mount-0000-cdrom/Minimal

# Définir les paquets installés 
%packages
@^minimal-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='fr (oss)'
# System language
lang fr_FR.UTF-8

# Network information
network  --bootproto=static --ip=192.168.90.2 --netmask=255.255.255.240 --gateway=192.168.90.14 --nameserver=8.8.8.8 --device=enp1s0 --ipv6=auto --activate
network  --hostname=template

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable
reboot 

#Défini le disque utilisé pour l'instalation
ignoredisk --only-use=vda
autopart
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone Europe/Paris --isUtc

# A compléter avec le mot de passe généré 
# Voir README.md
rootpw --iscrypted $6$9j2kIZii.4Kuaqwg$gVEdE4Bxy4veN9.wiyNbIAKZQNRTMzVp2wFS/FiunfzpSskkb/iyOyxnTx6o4fKqJbiQ1jxvbqZGRP1VwRTZS/


sshkey --username=root "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCmllW6BdasqlVwcRXN6sK3/V6KOn7bYBzqIs9hhVxqRJkitveAq97U7pMOu+OXNj0+uHhwtXJ/5Vu1SZg59aLEJcN/oHJIjwziih4towtO81mrlzzKMcKhVSeSITv5SQTPxlp+jik2qhqUFmG6yfygWc5EOF/AHkndx1pX6+FKu+8li880bTUC7Y+1+XGLihj1Vw31zgS7GP1d6xf1XrpMSzjse45RNo7zchZxU3B/XhOunVSpRf+X9frBvLdNG15CoDSIX+0FVTsuh0/MNo7dmfES3/Tg4w96sawrpWCQgVVvpotM0LUI+2Xo0tkXPmFrj57hv5kwKaO0Drdfb5Bk+C5uFXmqZGLdLH9ceOceT/Sh8yZy2uNQhyfR5JINdIc6X0+6YOnYPTam02el79AYEn91qzsVGh+mfWm3Ak2bnbXSqYE9eh1WtAlP+Ns9cE0ndL1gl4hqVKofGdDTNSQWlCyVquomB7dnDqXyFQFMAAH6HNpGMz9ipz8NUhdOfTs= root@template"

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
